@import "https://fonts.googleapis.com/css?family=VT323";

:root {
  --background: #202823;
  --green: #33ff33;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  min-height: 100vh;
  min-width: 100vw;
  padding: 2rem;
}

a {
  color: var(--green);
  text-decoration: none;
}

a:hover {
  filter: brightness(90%);
}

body {
  background-color: var(--background);
  color: var(--green);
  font-family: "VT323", monospace;
  font-size: 2rem;
  margin: auto;
  max-width: 1440px;
}

header {
  border-bottom: 1px solid var(--green);

  display: flex;
  align-items: baseline;
  justify-content: start;

  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

h1::after {
  content: "█";
  color: var(--green);
  margin-left: 1rem;
  animation: cursorBlink 1.5s steps(2) infinite;
}

@keyframes cursorBlink {
  0% {
    opacity: 0;
  }
}

.clients,
.project {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, 27.5rem);

  margin-bottom: 2rem;
}

.container {
  border: 1px solid var(--green);

  display: flex;
  flex-direction: column;

  width: 100%;
}

.image {
  height: 15rem;
  overflow: hidden;
}

img {
  object-fit: cover;
  width: 100%;
}

img:hover {
  cursor: pointer;
  scale: 1.1;
  transition: 0.25s;
}

.info {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  margin-top: auto;
  padding: 1rem;
  row-gap: 1rem;
}

.badges {
  display: flex;
  gap: 1rem;
}

.devicon-github-original,
.devicon-django-plain-wordmark,
.devicon-wordpress-plain-wordmark {
  color: white;
}
